ul {
    display:block;
    list-style-type: none;
    margin: 0;
  }
  
  #mainDiv {
    display: grid;
    background-color: #333;
    grid-template-columns: 10% 90%;
    -ms-grid-column-align: center;
    height:6.5rem;
    width:100%;
   
  }

  li {
    float: left;
    font-family: 'Allerta Stencil';
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    transition: 1s;
    width:15%;
    padding-right: 1%;
    padding-left:1%;
    height:6.5rem;
  }
  
  #divLogo {
    overflow: hidden;
    height:auto;
  }

  #logo {
    height:90%;
    width:100%;
  }

  li a {
    display: block;
    color: #fcf6f5;
    text-align: center;
    margin-top:2rem;
    text-decoration: none;
    transition: 1s;
  }
  
  .active {
    color:#2bae66;
    font-weight: 700;
    text-decoration: underline;
  }

  li:hover {
    background-color: #262626;
  }

  li a:hover {
    color:#2BAE66FF;
    text-decoration: none;
    font-size: calc(22px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }